.uk-container{
    width: 100%;
    overflow: auto;
}

header{
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    z-index: 5;
    background: #fff;
}

.main-wrapper{
    min-height: 100vh;
}

.header-button{
    border-left: 1px solid #f0f0f0;
    padding: 20px;
}

.menu-btn {
    width: 20px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
    border: none;
}

.menu-btn span {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: #DF1C29;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-btn span:nth-child(1) {
    top: 5px;
}

.menu-btn span:nth-child(2) {
    top: 12px;
}

.menu-btn span:nth-child(3) {
    top: 19px;
}

.menu-btn.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.menu-btn.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.img-text img{
    width: 54px;
    height: 54px;
}

.nav-block{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(228,3,33,0.75);
    z-index: 4;
    color: #fff;
    padding-top: 90px;
    overflow: auto;
}

.nav-block .uk-link-reset a, .nav-block a.uk-link-reset{
    color: #fff !important;
}

.sub-imges i{
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}

.sub-imges .soc-link{
    background: #fff;
    color: #e40321;
    padding: 10px;
    margin-right: 5px;
    display: inline-block;
}
.sub-imges .soc-link i{
    margin-right: 0;
    width: 20px;
    line-height: 19px;
    text-align: center;
}
.sub-imges .soc-link:hover{
    color: #fff;
}
.sub-imges .soc-link.facebook:hover{
    background: #3b5998;
}
.sub-imges .soc-link.twitter:hover{
    background: #1da1f2;
}
.sub-imges .soc-link.instagram:hover{
    background: #262626;
}
.nav-block .bottom-links {
    margin-top: 60px;    
}
.nav-block .bottom-links a{
    color: #fff;
    margin-right: 15px;
}

footer{
    margin-top: auto;
}

footer ul{
    margin-top: 0;
}

.footer-soc-links{
    margin-top: 20px;
}

.terms{
    margin-top: 20px;
}

@media only screen and (max-width : 992px){
    .nav-block .uk-width-1-4{
        width: 50%;
    }
    footer .uk-width-1-5:first-child{
        width: 100%;
    }
    footer .uk-width-1-5:not(:first-child){
        width: 25%;
    }
}

@media only screen and (max-width : 768px){
    .nav-block .uk-width-1-4{
        width: 100%;
    }
    .nav-block .uk-container{
        height: 100%;
    }
    footer .uk-width-1-5:first-child{
        width: 100%;
    }
    footer .uk-width-1-5:not(:first-child){
        width: 50%;
    }
}

@media only screen and (max-width : 480px){
    footer .uk-width-1-5:not(:first-child){
        width: 100%;
    }
}



